<a href="https://colab.research.google.com/github/O-Aiden/CartoonGuidetoStatisticsByPython/blob/main/12%E3%80%8A%E6%BC%AB%E7%94%BB%E7%BB%9F%E8%AE%A1%E5%AD%A6%E3%80%8Bpython%E5%AE%9E%E7%8E%B0_%E9%80%8F%E8%A7%86%E8%A1%A8%E5%92%8C%E4%BA%A4%E5%8F%89%E8%A1%A8%E8%AE%A9%E6%95%B0%E6%8D%AE%E5%A4%84%E7%90%86%E6%9B%B4%E4%B8%9D%E6%BB%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("1-1汽车数据.csv",index_col=0)
data.head(5)

  能源类型 环保标准     上市时间  最大功率(kW)  最大扭矩(N·m)  发动机型号  变速箱类型       长*宽*高(mm) 车身结构
0   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
1   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
2   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
3   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
4   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡

# 分组求均值

In [9]:
data.groupby(['能源类型', '环保标准']).mean()

                  上市时间  最大功率(kW)  最大扭矩(N·m)  发动机型号  变速箱类型
能源类型 环保标准
柴油   国V    2017.286667        96        280    NaN    NaN
     国VI   2021.015000       105        320    NaN    NaN
汽油   国VI   2021.015000       170        310    NaN    NaN

In [14]:
data.pivot_table(index=['能源类型', '环保标准'])

                  上市时间  最大功率(kW)  最大扭矩(N·m)
能源类型 环保标准
柴油   国V    2017.286667        96        280
     国VI   2021.015000       105        320
汽油   国VI   2021.015000       170        310

# 自定义行列，对值进行分组

In [21]:
data.pivot_table(values=['最大功率(kW)','最大扭矩(N·m)'], index=['能源类型'], columns='环保标准', margins=True)

     最大功率(kW)                    最大扭矩(N·m)
环保标准       国V    国VI         All        国V    国VI         All
能源类型
柴油       96.0  105.0  103.200000     280.0  320.0  312.000000
汽油        NaN  170.0  170.000000       NaN  310.0  310.000000
All      96.0  137.5  132.888889     280.0  315.0  311.111111

# 计算分组频率的特殊透视表

In [17]:
temp = data[['能源类型', '环保标准']]
temp.pivot_table(index=['能源类型'], columns='环保标准', aggfunc=len, margins=True)

环保标准   国V   国VI  All
能源类型
柴油    6.0  24.0   30
汽油    NaN  24.0   24
All   6.0  48.0   54

In [19]:
pd.crosstab(temp['能源类型'], temp['环保标准'], margins=True)

环保标准  国V  国VI  All
能源类型
柴油     6   24   30
汽油     0   24   24
All    6   48   54