<a href="https://colab.research.google.com/github/O-Aiden/CartoonGuidetoStatisticsByPython/blob/main/14%E3%80%8A%E6%BC%AB%E7%94%BB%E7%BB%9F%E8%AE%A1%E5%AD%A6%E4%B9%8B%E5%9B%A0%E5%AD%90%E5%88%86%E6%9E%90%E3%80%8Bpython%E5%AE%9E%E7%8E%B0_%E7%A6%BB%E5%B7%AE%E5%B9%B3%E6%96%B9%E5%92%8C%E3%80%81%E6%96%B9%E5%B7%AE%E5%92%8C%E6%A0%87%E5%87%86%E5%B7%AE%E8%AE%A1%E7%AE%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = pd.read_excel('汽车企业销量数据.xlsx',index_col=0)
data.head(5)

       企业  2021-05-01 00:00:00  2021-04-01 00:00:00  ...   2021年    2020年    2019年
序号                                                   ...
1    上海大众               110000               108301  ...  467401  1505559  1812637
2   一汽-大众               111518                83026  ...  554629  1415462  1416775
3    吉利汽车                96581               100846  ...  531859  1315408  1362608
4    上汽通用                69729                66927  ...  420357  1271652  1510456
5    东风日产                79277                84499  ...  409188  1119008  1159108

[5 rows x 10 columns]

# 离差平方和

In [3]:
temp = data[['2021年']]
# 平均值
mean = temp.mean()
# 离差平方
temp['离差平方'] = pow(temp - mean,2)
# 离差平方和
sum_squares_deviations = temp['离差平方'].sum()
sum_squares_deviations

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

2027124469779.5598

# (总体)方差

In [4]:
deviation_var = sum_squares_deviations/len(temp)
deviation_var

24132434164.042377

# (总体)标准差

In [5]:
import math
math.sqrt(deviation_var)

155346.17524754955