<a href="https://colab.research.google.com/github/O-Aiden/CartoonGuidetoStatisticsByPython/blob/main/2_1%E3%80%8A%E6%BC%AB%E7%94%BB%E7%BB%9F%E8%AE%A1%E5%AD%A6%E3%80%8Bpython%E5%AE%9E%E7%8E%B0_%E7%BB%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd

In [32]:
data = pd.read_csv("1-1汽车数据.csv",index_col=0)
data.head(5)

  能源类型 环保标准     上市时间  最大功率(kW)  最大扭矩(N·m)  发动机型号  变速箱类型       长*宽*高(mm) 车身结构
0   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
1   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
2   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
3   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
4   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡

In [33]:
data_pw = data['最大功率(kW)']
data_pw_list = data_pw.to_list()
data_pw_group = pd.cut(data_pw_list ,[50,100,150,200] , right=False, labels=['50-100','100-150','150-200'])
data_pw_group.describe()

            counts     freqs
categories
50-100           6  0.111111
100-150         24  0.444444
150-200         24  0.444444