<a href="https://colab.research.google.com/github/O-Aiden/CartoonGuidetoStatisticsByPython/blob/main/2_2%E3%80%8A%E6%BC%AB%E7%94%BB%E7%BB%9F%E8%AE%A1%E5%AD%A6%E3%80%8Bpython%E5%AE%9E%E7%8E%B0_%E5%90%84%E7%A7%8D%E5%B9%B3%E5%9D%87%E5%80%BC%E8%AE%A1%E7%AE%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [5]:
data = pd.read_csv("1-1汽车数据.csv",index_col=0)
data.head(5)

  能源类型 环保标准     上市时间  最大功率(kW)  最大扭矩(N·m)  发动机型号  变速箱类型       长*宽*高(mm) 车身结构
0   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
1   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
2   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
3   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
4   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡

## 算数平均
axis=0为列，1为行

In [11]:
temp = data[["最大功率(kW)","最大扭矩(N·m)"]]

### 对行求平均

In [16]:
data["avg"] = temp.mean(axis=1)
data.head(3)

  能源类型 环保标准     上市时间  最大功率(kW)  ...  变速箱类型       长*宽*高(mm)  车身结构    avg
0   柴油  国VI  2021.02       105  ...    NaN  5350×1885×1825    皮卡  212.5
1   柴油  国VI  2021.02       105  ...    NaN  5350×1885×1825    皮卡  212.5
2   柴油  国VI  2021.02       105  ...    NaN  5350×1885×1825    皮卡  212.5

[3 rows x 10 columns]

### 对列求平均

In [35]:
col_mean = temp.mean()
col_mean["Name"]="Summary"
col_mean

最大功率(kW)     132.889
最大扭矩(N·m)    311.111
Name         Summary
dtype: object

## 几何平均

### Python 3.8

In [ ]:
# from statistics import geometric_mean
# geometric_mean(data["最大功率(kW)"].to_list())

### Python 3.8以下

In [6]:
from scipy.stats.mstats import gmean
gmean(data["最大功率(kW)"].to_list())

128.78620507478917

## 调和平均

### 自定义公式

In [39]:
data_test=data["最大功率(kW)"].to_list()  
def harmonic_mean(data):  # 计算调和平均数
    total=0
    for i in data:
        if i==0: #处理包含0的情况
             return 0
        total+=1/i
    return len(data)/total
print(harmonic_mean(data_test))

125.4465698882654

### 引用Python库

In [38]:
from scipy.stats.mstats import hmean
hmean(data["最大功率(kW)"].to_list())

125.4465698882654