<a href="https://colab.research.google.com/github/O-Aiden/CartoonGuidetoStatisticsByPython/blob/main/7%E3%80%8A%E6%BC%AB%E7%94%BB%E7%BB%9F%E8%AE%A1%E5%AD%A6%E3%80%8Bpython%E5%AE%9E%E7%8E%B0_%E6%A0%87%E5%87%86%E8%AE%A1%E5%88%86%E5%92%8C%E7%A6%BB%E5%B7%AE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("1-1汽车数据.csv",index_col=0)
data.head(5)

  能源类型 环保标准     上市时间  最大功率(kW)  最大扭矩(N·m)  发动机型号  变速箱类型       长*宽*高(mm) 车身结构
0   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
1   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
2   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
3   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡
4   柴油  国VI  2021.02       105        320    NaN    NaN  5350×1885×1825   皮卡

## 计算平均数

In [ ]:
mean = data[['最大功率(kW)']].mean()
mean = mean['最大功率(kW)']
mean

132.88888888888889

## 计算标准差

In [ ]:
std = np.std(data["最大功率(kW)"])
std

33.30146624881535

## 计算标准计分

In [ ]:
standard_score = (data["最大功率(kW)"] - mean)/std
standard_score.name = '标准计分'
standard_score.head(5)

0   -0.837467
1   -0.837467
2   -0.837467
3   -0.837467
4   -0.837467
Name: 标准计分, dtype: float64

## 离差

In [ ]:
deviation = standard_score*10 +50
deviation.name = '离差'
deviation.head(5)

0    41.625327
1    41.625327
2    41.625327
3    41.625327
4    41.625327
Name: 离差, dtype: float64